body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  min-height: 100vh;
  font-size: 4rem;
  background: #000;
  gap: 0.5em;
}

@property --x1 { syntax: '<percentage>'; initial-value: 3%; inherits: false; }
@property --x2 { syntax: '<percentage>'; initial-value: 3%; inherits: false; }
@property --x3 { syntax: '<percentage>'; initial-value: 3%; inherits: false; }
@property --x4 { syntax: '<percentage>'; initial-value: 3%; inherits: false; }
@property --x5 { syntax: '<percentage>'; initial-value: 3%; inherits: false; }
@property --x6 { syntax: '<percentage>'; initial-value: 3%; inherits: false; }
@property --x7 { syntax: '<percentage>'; initial-value: 3%; inherits: false; }
@property --x8 { syntax: '<percentage>'; initial-value: 3%; inherits: false; }
@property --x9 { syntax: '<percentage>'; initial-value: 3%; inherits: false; }

.toggle {
  appearance: none;
  position: relative;
  font-size: 1em;
  width: 3em;
  aspect-ratio: 3;
  border: max(1px, 0.05em) solid #fff;
  background:
    linear-gradient(hsl(  0 100 50 / 0.5) 99%, #0000) var(--x1, 3%),
    linear-gradient(hsl( 40 100 50 / 0.5) 99%, #0000) var(--x2, 3%),
    linear-gradient(hsl( 80 100 50 / 0.5) 99%, #0000) var(--x3, 3%),
    linear-gradient(hsl(120 100 50 / 0.5) 99%, #0000) var(--x4, 3%),
    linear-gradient(hsl(160 100 50 / 0.5) 99%, #0000) var(--x5, 3%),
    linear-gradient(hsl(200 100 50 / 0.5) 99%, #0000) var(--x6, 3%),
    linear-gradient(hsl(240 100 50 / 0.5) 99%, #0000) var(--x7, 3%),
    linear-gradient(hsl(280 100 50 / 0.5) 99%, #0000) var(--x8, 3%),
    linear-gradient(hsl(320 100 50 / 0.5) 99%, #0000) var(--x9, 3%)
    ;
  background-size: 0.8em 0.8em;
  background-repeat: no-repeat;
  transition: 
    --x1 0.5s 0.00s, 
    --x2 0.5s 0.04s, 
    --x3 0.5s 0.08s, 
    --x4 0.5s 0.12s, 
    --x5 0.5s 0.16s, 
    --x6 0.5s 0.20s, 
    --x7 0.5s 0.24s, 
    --x8 0.5s 0.28s, 
    --x9 0.5s 0.32s;
  background-blend-mode: lighten;
  
  /* ths is so the indicator is visible in high-contrast mode */
  &::before {
    content: "";
    position: absolute;
    width: 0.8em;
    aspect-ratio: 1;
    top: 50%;
    left: 0.05em;
    transform: translate(0, -50%);
    border-radius: 50%;
    box-sizing: border-box;
    border: 0.4em solid #0000;
  }
    
  &:checked {
    --x1: 97%;
    --x2: 97%;
    --x3: 97%;
    --x4: 97%;
    --x5: 97%;
    --x6: 97%;
    --x7: 97%;
    --x8: 97%;
    --x9: 97%;
    
    &::before {
      left: 2.05em;
    }
  }
  
  &[disabled] {
    opacity: 0.25;
  }
}

@media print {
  .toggle {
    &, &::before, &::after {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
}

@media (prefers-reduced-motion) {
  .toggle {
    &, &::before, &::after {
      transition: none !important;
      animation: none !important;
    }
  }
}
